<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.renj.databinding">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.renj.databinding.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.renj.databinding.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- =================【start】 数据绑定部分 【start】=================== -->
        <activity
            android:name="com.renj.databinding.activity.DataBindingActivity"
            android:label="@string/binding_data"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.renj.databinding.activity.data.DataOneWayActivity"
            android:label="@string/binding_one_way"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.renj.databinding.activity.data.DataTwoWayActivity"
            android:label="@string/binding_two_way"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.renj.databinding.activity.data.BaseObservableActivity"
            android:label="@string/binding_base_observable"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.renj.databinding.activity.data.ObservableXxxActivity"
            android:label="@string/binding_observable"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.renj.databinding.activity.data.MyTwoWayActivity"
            android:label="@string/binding_my_two"
            android:screenOrientation="portrait" />
        <!-- =================【end】 数据绑定部分 【end】=================== -->

        <activity
            android:name="com.renj.databinding.activity.EventBindingActivity"
            android:label="@string/binding_event"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.renj.databinding.activity.CollectionBindingActivity"
            android:label="@string/binding_collection"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.renj.databinding.activity.ListBindingActivity"
            android:label="@string/binding_list"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.renj.databinding.activity.IncludeBindingActivity"
            android:label="@string/binding_include"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.renj.databinding.activity.ViewStubBindingActivity"
            android:label="@string/binding_view_stub"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.ImportActivity"
            android:label="@string/binding_import"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.CustomClassNameActivity"
            android:label="@string/binding_custom_name"
            android:screenOrientation="portrait" />

        <!-- =================【start】 自定义属性部分 【start】=================== -->
        <activity
            android:name="com.renj.databinding.activity.CustomBindingActivity"
            android:label="@string/binding_custom"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.renj.databinding.activity.custom.BindingAdapterActivity"
            android:label="@string/binding_adapter"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.renj.databinding.activity.custom.BindingMethodsActivity"
            android:label="@string/binding_methods"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.renj.databinding.activity.custom.BindingInverseAdapterActivity"
            android:label="@string/binding_inverse_adapter"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.renj.databinding.activity.custom.BindingInverseMethodsActivity"
            android:label="@string/binding_inverse_methods"
            android:screenOrientation="portrait" />
        <!-- =================【end】 自定义属性部分 【end】=================== -->

        <activity
            android:name="com.renj.databinding.activity.ConvertersActivity"
            android:label="@string/binding_converters"
            android:screenOrientation="portrait" />

    </application>

</manifest>